<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>The Wall - Messages Only</title>
    
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    </head>
    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h4 class="my-0 mr-md-auto font-weight-normal">Coding Dojo Wall</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <h4 class="text-dark mt-5" style="display:inline">Welcome, {{ user.first_name }}</h4>
                <a href="/logout" class="btn btn-med btn-secondary mt-1 ml-5" style="display:inline">Log Out</a>
            </nav>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div style="width: 75%">
                    <form action='/postmessage' method='POST' class="form-group">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value="{{user.id}}">
                        <h5 for="exampleFormControlTextarea1" class="mb-0">Post a Message</h5>
                        <textarea class="form-control rounded-0 mt-3" id="exampleFormControlTextarea1" rows="4" name="message"></textarea>
                        <button type="submit" class="btn btn-info mt-3">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-1"></div>
        </div>

        <div class="row mt-3">
                <div class="col-1"></div>
                <div class="col-10">
                        {% for a in messages %}
                            <div class="pt-5">
                                <form action="/delete_message" method="POST" class="form-group">
                                    {% csrf_token %}
                                    <p>{{a.user.first_name}} {{a.user.last_name}} - {{a.created_at}}</p>
                                    <p class="ml-4">{{a.message | safe}}</p>
                                    <input type="hidden" name="message_id" value="{{a.id}}">
                                    <input type="hidden" name="user_id" value="{{user.id}}">
                                    {% if a.user.id == user.id %}
                                        <button type="submit" class="btn btn-danger mt-1 mb-3">Delete Message</button>
                                     {% endif %}
                                </form>
                            </div>

                            <div>
                                {% for b in comments %}
                                    {% if b.message.id == a.id %}
                                        <div class="ml-4 text-muted">
                                            <form action="/delete_comment" method="POST" class="form-group">
                                                {% csrf_token %}
                                                <p>{{b.user.first_name}} {{b.user.last_name}} - {{b.created_at}}</p>
                                                <p class="ml-4">{{b.comment | safe}}</p>
                                                <input type="hidden" name="comment_id" value="{{b.id}}">
                                                <input type="hidden" name="user_id" value="{{user.id}}">
                                                {% if b.user.id == user.id %}
                                                    <button type="submit" class="btn btn-danger mt-1 mb-3">Delete Comment</button>
                                                {% endif %}
                                            </form>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                <div class="ml-4" style="width: 50%">
                                    <form action="/post_comment" method="POST" class="form-group">
                                        {% csrf_token %}
                                        <input type="hidden" name="user_id" value="{{user.id}}">
                                        <input type="hidden" name="message_id" value="{{a.id}}">
                                        <h6 for="exampleFormControlTextarea1" class="mb-0">Post a Comment</h6>
                                        <textarea class="form-control rounded-0 mt-3" id="exampleFormControlTextarea1" rows="2" name="comment"></textarea>
                                        <button type="submit" class="btn btn-info mt-3">Submit</button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                </div>
                <div class="col-1"></div>
            </div>
        </div>

    </body>
</html>